/* --- setup --- */

:root {
  --colorLightAsHex: 25, 25, 112;
  --colorLight: rgb(var(--colorLightAsHex));
  --colorDarkAsHex: 05, 05, 05;
  --colorDark: rgb(var(--colorDarkAsHex));
  /* --colorMedium: ; */
  /* --colorGray: ; */
}

html, 
body {
  font-size: 16px;
}

/* @media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
} */

/* --- typography --- */

:root {
  --fontSerif: 'Josefin Slab', serif;
  --fontSans: 'Roboto', sans-serif;
}

body {
  font-family: var(--fontSerif);
  font-size: 1em;
  color: var(--colorDark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fontSans);
  color: var(--colorLight);
}

/* --- header --- */

#site-header a {
  font-weight: bold;
}

#site-header .tab-spacer {
  flex: 1;
  max-width: none;
}

/* --- main --- */

main {
  padding: 2em 0 3em 0;
  /* todo make sure footer stays at bottom */
  /* min-height: 80vh; */
}

/* <Paper /> */
main .MuiPaper-root {
  padding: 1em;
}

/* --- plaid --- */

body {
  background-color: transparent !important;
}

html {
  --forground: var(--colorLightAsHex);
  --background: var(--colorDarkAsHex);
  --opacity1: .5;
  --opacity2: .75;
  background-position: center top;
  background: 
    repeating-linear-gradient(
      45deg,
      rgba(var(--forground), var(--opacity1)) 0vw,
      rgba(var(--forground), var(--opacity1)) 1vw,
      rgba(var(--background), var(--opacity1)) 1vw,
      rgba(var(--background), var(--opacity1)) 2vw,
      rgba(var(--forground), var(--opacity1)) 2vw,
      rgba(var(--forground), var(--opacity1)) 3vw,
      rgba(var(--background), var(--opacity1)) 3vw,
      rgba(var(--background), var(--opacity1)) 4vw,
      rgba(var(--forground), var(--opacity1)) 4vw,
      rgba(var(--forground), var(--opacity1)) 5vw,
      rgba(var(--background), var(--opacity1)) 5vw,
      rgba(var(--background), var(--opacity1)) 10vw
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(var(--forground), var(--opacity2)) 0vw,
      rgba(var(--forground), var(--opacity2)) 1vw,
      rgba(var(--background), var(--opacity2)) 1vw,
      rgba(var(--background), var(--opacity2)) 2vw,
      rgba(var(--forground), var(--opacity2)) 2vw,
      rgba(var(--forground), var(--opacity2)) 3vw,
      rgba(var(--background), var(--opacity2)) 3vw,
      rgba(var(--background), var(--opacity2)) 4vw,
      rgba(var(--forground), var(--opacity2)) 4vw,
      rgba(var(--forground), var(--opacity2)) 5vw,
      rgba(var(--background), var(--opacity2)) 5vw,
      rgba(var(--background), var(--opacity2)) 10vw
    );
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}