/* --- setup --- */

:root {
  --colorLightAsHex: 25, 25, 112;
  --colorLight: rgb(var(--colorLightAsHex));
  --colorDarkAsHex: 05, 05, 05;
  --colorDark: rgb(var(--colorDarkAsHex));
  /* --colorMedium: ; */
  /* --colorGray: ; */
}

html, 
body {
  font-size: 16px;
}

/* @media only screen and (max-width: 480px) {
  html {
    font-size: 16px;
  }
} */

/* --- typography --- */

:root {
  --fontSerif: 'Josefin Slab', serif;
  --fontSans: 'Roboto', sans-serif;
}

body {
  font-family: var(--fontSerif);
  font-size: 1em;
  color: var(--colorDark);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--fontSans);
  color: var(--colorLight);
}

button a {
  color: inherit;
  text-decoration: inherit;
  height: 100%;
  width: 100%;
}

/* --- header --- */

#site-header a {
  font-weight: bold;
}

#site-header .tab-spacer {
  flex: 1;
  max-width: none;
}

.headshot {
  float: right;
  height: 10rem;
  width: 10rem;
  margin: 1rem 0 1rem 1rem;
}

/* --- meta --- */

.meta time {
  font-size: 1.25em;
  font-weight: bold;
}

ul.categories {
  list-style: none;
  padding: 0;
}

ul.categories li {
  display: inline-block;
  margin-right: .5em;
  margin-bottom: .5em;
}

ul.categories li span:before {
  content: '#';
}


/* --- main --- */
main {
  padding: 2em 0 3em 0;
}

/* <Paper /> */
main .MuiPaper-root {
  padding: 1em;
}

/* --- plaid --- */

body {
  --foreground: var(--colorLightAsHex);
  --background: var(--colorDarkAsHex);
  --opacity1: .5;
  --opacity2: .75;
  background: 
    repeating-linear-gradient(
      45deg,
      rgba(var(--foreground), var(--opacity1)) 0vw,
      rgba(var(--foreground), var(--opacity1)) 1vw,
      rgba(var(--background), var(--opacity1)) 1vw,
      rgba(var(--background), var(--opacity1)) 2vw,
      rgba(var(--foreground), var(--opacity1)) 2vw,
      rgba(var(--foreground), var(--opacity1)) 3vw,
      rgba(var(--background), var(--opacity1)) 3vw,
      rgba(var(--background), var(--opacity1)) 4vw,
      rgba(var(--foreground), var(--opacity1)) 4vw,
      rgba(var(--foreground), var(--opacity1)) 5vw,
      rgba(var(--background), var(--opacity1)) 5vw,
      rgba(var(--background), var(--opacity1)) 10vw
    ),
    repeating-linear-gradient(
      -45deg,
      rgba(var(--foreground), var(--opacity2)) 0vw,
      rgba(var(--foreground), var(--opacity2)) 1vw,
      rgba(var(--background), var(--opacity2)) 1vw,
      rgba(var(--background), var(--opacity2)) 2vw,
      rgba(var(--foreground), var(--opacity2)) 2vw,
      rgba(var(--foreground), var(--opacity2)) 3vw,
      rgba(var(--background), var(--opacity2)) 3vw,
      rgba(var(--background), var(--opacity2)) 4vw,
      rgba(var(--foreground), var(--opacity2)) 4vw,
      rgba(var(--foreground), var(--opacity2)) 5vw,
      rgba(var(--background), var(--opacity2)) 5vw,
      rgba(var(--background), var(--opacity2)) 10vw
    );
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

/* --- markdown stuff --- */

pre {
  width: 100%;
  overflow: auto;
}

/* images */

.body img {
  display: block;
  max-width: 100%;
}

.body img[data-small="true"] {
  max-width: 20rem;
  margin-left: auto;
  margin-right: auto;
}
